---
import Layout from '../layouts/Layout.astro';
import Introduction from '../components/Introduction.astro';
import Technologies from '../components/Technologies.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Garogoz's Portfolio - FullStack Developer">
	<main class="px-4 md:px-12">
	
		<SectionContainer customClass="pt-28 pb-14 lg:pt-48">
			<Introduction />
		</SectionContainer>	

		<SectionContainer id="technologies" customClass="py-14">
		<h2 class="text-center font-bold text-3xl md:text-5xl mb-14">Technologies</h2>
			<Technologies />
		</SectionContainer>

		<SectionContainer id="projects" customClass="py-14">
			<h2 class="text-center font-bold text-3xl md:text-5xl mb-14">Projects</h2>
			<Projects />
		</SectionContainer>

	</main>			
</Layout>
