---
import ManzDev from "../icons/social/ManzDev.astro"
---


<article class="flex flex-col lg:flex-row justify-center items-center gap-6 ">
    <div class="basis-[300px] max-w-[300px] max-h-[225px] shrink-0 order-1 lg:order-2 content-center rounded-full overflow-hidden "> 
        <img src="/spike.webp" class='rounded-full mx-auto  hover:scale-150 transition duration-700'/>
    </div>
    <div class="flex flex-col  gap-y-4 text-lg text-black dark:text-colorfg/90 order-2 lg:order-1">
        <p>I am <span class="text-red-500 dark:text-colorYellow/90">Gabriel Rodriguez</span>, a passionate technology enthusiast and software developer with a strong commitment to continuous learning and growth. I thrive on exploring new web technologies and enjoy the challenge of keeping my skills up to date in a rapidly evolving industry.</p>
        <p>My approach combines a solid foundation in programming with an eagerness to tackle complex problems and drive innovation. I am actively seeking opportunities that will allow me to contribute to impactful projects and collaborate with diverse teams. I believe that my dedication to learning and my ambition to embrace new challenges will enable me to make a meaningful contribution to any organization.</p>
    </div>
</article>