

<footer class= "rounded-lg shadow h-auto mt-24">
    <div class="w-full max-w-screen-xl mx-auto pb-8 pt-6 md:py-12">
        <div class="">
            <ul class="flex flex-wrap justify-around items-center text-sm font-medium text-gray-600 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Contact</a>
                </li>
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Test</a>
                </li>
            </ul>
        </div>
        <hr class="border border-black/5 dark:border-white/5 mb-6 mt-2">
        <span class="flex justify-center text-md  text-gray-600 sm:text-center dark:text-gray-400">© 2024 
            Made with ❤️ by 
            <a href="https://github.com/Garogoz" class="text-red-500/90 dark:text-colorYellow hover:underline ml-1">{`<Garogoz />`}
            </a>
        </span>
    </div>
</footer>

