---
import GitHub from "../icons/social/GitHub.astro"
import LinkedIn from "../icons/social/LinkedIn.astro"
import ManzDev from "../icons/social/ManzDev.astro"
import SocialPill from "./SocialPill.astro"
---

<div class="flex flex-col gap-y-2">
    <div>
        <ManzDev customClass="size-20 mb-4"/>
    </div>
    <h1 class="text-4xl sm:text-5xl font-bold mb-1">Hey, I'm <span>Gabriel.</span></h1>
    <h2 class="text-2xl sm:text-3xl mb-1font-semibold  text-red-500 dark:text-colorYellow">FullStack Developer</h2>
    <p class="text-lg sm:text-xl font-medium text-black/70 dark:text-inherit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro optio laudantium error consectetur voluptas reiciendis illo dolores accusantium labore numquam quod earum, architecto ipsum molestias beatae! Enim sunt tempora ipsa lorem</p>
    <div class="flex align-items justify-start mt-4">
        <SocialPill href="https://github.com/Garogoz">
            <GitHub customClass="size-6"/>
            Github
        </SocialPill>
        <SocialPill href="https://www.linkedin.com/in/gabriel-rodriguez-382711293/">
            <LinkedIn customClass="size-6"/>
            Linkedin
        </SocialPill>
    </div>
</div>