<a 
{...Astro.props}
target="_blank" 
rel="noopener noreferrer"
class="flex mx-2 px-4 py-2 rounded-full gap-x-2 text-white hover:text-black hover:bg-colorfg border border-white/40 transition hover:scale-110">
    <slot />
</a>