---

---

<span class=`border border-black/40 dark:border-white/40 hover:border-black hover:border-white rounded-full text-sm px-2 py-1 mx-1 flex gap-x-1 items-center font-medium hover:scale-105 transition cursor-default ${Astro.props.customClass}`>
    <slot />
</span>